body {
    background-color: #f8f9fa; /* Add your desired body background color */
}
header{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

.container.text-center {
    background-color: black; /* Set the background color to black */
    width: 100vw; /* Use 100vw for 100% viewport width */
    padding-left: 0; /* Remove default padding */
    padding-right: 0; /* Remove default padding */
}

#servcices, #barber, #appointment{
    margin-top: 60px;
}


.test {
    display: absolute;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    width: 200px;
    height:400px;
}
.card-img-top{
    height:50%;
}
#services .btn.btn-primary,
 #barbers .btn.btn-primary{
    position: absolute;
    bottom:20px;
}

#appointment a{
    color:white;
    text-decoration: none;
}

#serviceDetail, #barberDetail{
    color:rgb(13, 45, 142);
    text-transform: uppercase;
}

#errorText{
    display: none;
    background-color: rgb(241, 132, 132);
    margin-top: 5PX;
    padding: 2px;
    color:white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
#paymentError{
    display: none;
    color: rgb(175, 6, 6);
    font-size: 20px;
}
